<div class="form-group"> <input type="text"
         #newItem
         class="form-control">
  <button (click)="addItem(newItem)"
          class="btn btn-primary">Add</button></div>
<ul class="list-unstyled">
  <li class="alert "
      [ngClass]="{'alert-info':!item.completed, 'alert-secondary':item.completed}"
      *ngFor="let item of items$|async">
    <button *ngIf="!item.completed"
            (click)="markComplete(item)"
            class="btn btn-sm btn-danger">X</button>
    <span [ngClass]="{'completed':item.completed}">{{item.description}}</span></li>
</ul>
<button (click)="removeCompleted()"
        [disabled]="!(hasCompletedItems$|async)"
        class="btn btn-danger">Remove Completed Items</button>
